<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Corona Virus Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


</head>

<body>
<div class="container">
<h1>Corona Virus Tracker Application</h1>
<p>This application lists the current number of cases reported across the globe</p>
<div class="jumbotron">
    <h1 class="display-4 th:text=${totalReportedCases}"></h1>
    <p class="lead">Total No of Cases Reported as of Today</p>
    <hr  class="my-4"></hr>
    <p>

        <span>New Cases Reported Since Previous Day</span>
        <span th:text=${totalReportedCases}></span>
    </p>
</div >

<table class="table">
    <tr>
        <th>State</th>
        <th>Country</th>
        <th>Total Cases Reported</th>
        <th>Changes Since Last Day</th>
    </tr>
    <tr th:each="locationStat: ${locationStats}">
        <td th:text="${locationStat.state}"></td>
        <td th:text="${locationStat.country}"></td>
        <td th:text="${locationStat.latestTotalCases}"></td>
        <td th:text="${locationStat.diffFromPrevDay}"></td>
    </tr>
</table>
</div>
</body>

</html>